{% extends "bootstrap/base.html" %}

{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SAS Dashboard</title>
	<link href="/static/css/iframe.css" rel="stylesheet">
	{{ super() }}
{% endblock %}

{% block navbar %}
	{{ super() }}
	<ul class="container nav nav-tabs" role="navigation">
			<li role="presentation"><a href="/">Home</a></li>
			<li role="presentation"><a href="/index">Project settings</a></li>
			<li role="presentation"><a href="/exp_cards">Experiment cards</a></li>
			<li role="presentation"><a href="/export">Export to PDF</a></li>
			<li role="presentation"><a href="/index">About</a></li>
	</ul>
	<div class="jumbotron" style="background:#614887">
		<div class="container">
			<h1 style="color:white;">SAS Dashboard</h1>
			<p style="color:white;">Represent and analyse your SAS data.</p>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		{% block page_content %}
		{% endblock %}
	</div>
	<hr>
	<footer class="container-fluid text-center">
		<p>Powered by Flask, Bootstrap</p>
	</footer>
{% endblock %}
