{% extends "bootstrap/base.html" %}

{% block title %}SAS Dashboard{% endblock %}

{% block metas %}
	<meta charset="utf-8">
	{{ super() }}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="{{ url_for('static', filename='css/iframe.css') }}" rel="stylesheet">
{% endblock %}

{% block navbar %}
	{{ super() }}
	<ul class="container nav nav-tabs" role="navigation">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/index">Project settings</a></li>
    <li role="presentation"><a href="/exp_cards">Experiment cards</a></li>
    <li role="presentation"><a href="/export">Export to PDF</a></li>
    <li role="presentation"><a href="/index">About</a></li>
	</ul>
	<div class="jumbotron" style="background:#614887">
		<div class="container">
			<h1 style="color:white;">SAS Dashboard</h1>
			<p style="color:white;">Represent and analyse your SAS data.</p>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container">
		{% block page_content %}
		{% endblock %}
	</div>
	<hr>
	<footer class="container-fluid text-center">
    <p>Powered by Flask, Bootstrap</p>
	</footer>
{% endblock %}
