{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
  {{ super() }}
  <div class="row">
    <div class="col-sm-9" data-spy="scroll" data-target="#sidebar" data-offset="0">
      <!-- experiment header -->
      <div class="page-header">
        <h1>EXP {{ exp_id }} <small>notes</small></h1>
      </div>
      <!-- experiment information and setup -->
      <h4 id="setup">Setup</h4>
      {{ wtf.quick_form(exp_setup_form, form_type='horizontal', horizontal_columns=('sm', 3, 9), id='setup-form') }}
      <hr>
      <h4 id="configuration">Configuration</h4>
      {{ wtf.quick_form(layouts_checkbox, form_type='horizontal', id=False) }} <!-- form_type='inline' -->
      <!-- <hr> -->
      <!-- expeirment SAS image -->
      <!-- expeirment SAS profile (curves) -->
      <!-- expeirment CorMapAnalysis -->
      <!-- expeirment sequence analysis -->
      <!-- expeirment guinier fitting analysis -->
      <!-- experiment Pair-wise distribution analysis (GNOM) -->
      <!-- experiment molecular weight analysis -->
      {% if show_dashboard %}
        {% for dp in dashboard_params %}
          <hr>
          <h4 id="{{ dp.graph_type }}">{{ dp.graph_name }}</h4>
          <div class="dash-embed-responsive">
            <iframe class="dash-embed-responsive-item" src="{{ url_for('/dashboard', exp=exp_id, graph_type=dp.graph_type) }}">
            </iframe>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="col-sm-3">
      <nav id="sidebar" class="navbar" data-spy="affix" data-offset-top="285" style="top: 0">
        <!-- side bar -->
        <ul class="nav" role="navigation">
          <li><a href="#setup">Setup</a></li>
          <li><a href="#configuration">Configuration</a></li>
          {% for dp in dashboard_params %}
            <li><a href="#{{ dp.graph_type }}">{{ dp.graph_name }}</a></li>
          {% endfor %}
        </ul>
        <hr>
        <ul class="nav" role="navigation">
          <li><a href="#">Return to top</a></li>
          <li><a href="/exp_cards">Return to experiment cards</a></li>
        </ul>
        <hr>
        <ul class="nav" role="navigation">
          {% if exp_id != 1 %}
            <li class="previous">
              <a href="{{ url_for('exp_pages.individual_experiment_page', exp_id=exp_id-1) }}">
                Previous experiment
              </a>
            </li>
          {% endif %}
          <!-- TODO: Add last experiment criterion -->
          <li class="next">
            <a href="{{ url_for('exp_pages.individual_experiment_page', exp_id=exp_id+1) }}">
              Next experiment
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    $('#setup-form').submit(function (evt) {
      $.ajax({
        type: 'post',
        // url: '?',
        data: $(this).serialize(),
        success: function () {
          alert('Setup has been saved.');
        }
      });
      evt.preventDefault(); //prevents the default refresh action
    })
  </script>
{% endblock %}
