{% extends "base.html" %}

{% block page_content %}
  <table class="table table-hover">
    <thead>
      <th>#</th>
      <th>Directory</th>
      <th>Sample</th>
      <th>Concentration(mg/ml)</th>
      <th>Magnet distance(mm)</th>
      <th>Notes</th>
      <th>More</th>
    </thead>
      {% for i, (exp_name, setup) in exp_table_list %}
      <tr>
        <td>{{ i }}</td>
        <td>{{ exp_name }}</td>
        <td>{{ setup.sample }}</td>
        <td>{{ setup.concentration }}</td>
        <td>{{ setup.magnet_distance }}</td>
        <td>{{ setup.simple_conclusion }}</td>
        <td><a href="/exp_pages/{{ exp_name }}">Details</a></td>
      </tr>
      {% endfor %}
  </table>
{% endblock %}
